{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% block title %}Smart Study Planner{% endblock %}</title>

<link rel="stylesheet" href="{% static 'core/style.css' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

<header class="topbar">
  <div class="topbar-left">
    <span class="logo">📘 Smart Study Planner</span>
  </div>

  <nav class="topbar-right">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <a href="{% url 'add_task' %}" class="btn-primary">+ Add Task</a>
  </nav>
</header>

<main class="main-container">
  {% block content %}{% endblock %}
</main>

<footer class="footer">
  <p>© 2026 Smart Study Planner. Built by Varun.</p>
</footer>

</body>
</html>
